$black: #1E1E20;
$off-canvas-label-bg: $black;
$off-canvas-label-color: #fff;
$primary-color: #2C3E50;
$topbar-bg-color: $black;
$secondary-color: #D7DADB;
$success-color: #6DBCDB;
$alert-color: #FC4349;
$info-color: lighten($primary-color, 10%);
$yellow: #FFD34E;
$red: #BD4932;
$off-white: #FFFAD5;
$white: #fff;
