$oil: #2A2C2B;
$black: #1E1E20;
$off-canvas-label-bg: $black;
$off-canvas-label-color: #fff;
$primary-color: #105B63;
$secondary-color: #2A2C2B;
$yellow: #FFD34E;
$red: #BD4932;
$font-family-sans-serif: 'Lato', sans-serif;
$off-white: #FFFAD5;
