@import "variables";
@import "normalize";
@import "foundation";
@import "font-awesome";
input[type="submit"],
button,
.button {
  @include button-style($radius:true);
}

html, body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
}
.footer {
  background: $primary-color;
  padding: 2rem;
  color: $white;
}
.first {
  background: $secondary-color;
  code {
    width: 250px;
    display: inline-block;
    color: $white;
    background: $black;
  }
  height: 500px;
  min-height: 80vh;
  position: relative;
  text-align: center;
  .row {
    z-index: 2;
    h1 {
      text-transform: uppercase;
      padding: 10px;
    }
  }
  .bg {
    top: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .5;
  }
  .button {
    background: $black;
  }

}
.signup-row {
  background: $black;
  color: $white;
  h1 {
    color: $white;
  }
  padding: 2em 0;
}
.reasons {
  img {
    margin: auto;
    border: 2px solid $success-color;
  }
  background: $white;
  text-align: center;
  i {
    font-size: 8em;
    color: $red;
  }
  padding: 2em 0;
}
.is-front {
  .off-canvas-wrap {
    -webkit-backface-visibility: visible;
    * {
      -webkit-backface-visibility: visible;
    }
  }
  .row-wrapper {
    z-index: 1;
  }
}
.document-container .row {
  border-bottom: $secondary-color 1px solid;
  .small-1 {
    padding-top: 10px;
  }
  margin: 5px;
  paddding: 5px;
  .header {
    text-transform: uppercase;
    font-size: 1.2em;
  }
  .status {
    display: inline-block;
  }
  .metadata {
    color: lighten($black, 50%);
    font-size: .8em;
  }
}
.docs {
  ul {
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    margin: 1em 0;
  }
}
.main-section .stripe-button-el:disabled,
.main-section .stripe-button-el:disabled span{
  color: $white;
  background: $primary-color;
}
.main-section .stripe-button-el,
.main-section .stripe-button-el:focus {
  background: none;
  @include button-base;
  @include button-size;
  @include button-style($radius:true);
  box-shadow: none;
  span,
  span:hover,
  span:focus,
  span:active {
    min-height: 18px !important;
    padding: 0;
    height: auto;
    background: none;
    line-height: inherit;
    font: inherit;
    box-shadow: none;
    text-shadow: none;
  }
}
.top {
  .top-bar-section li:not(.has-form) a:not(.button),
  .top-bar-section ul li,
  .top-bar {
    background: $primary-color;
  }
}
.top-bar-section ul li > label,
.top-bar-section ul li > a {
  padding-left: 1rem;
}
