@import "variables";
@import "normalize";
@import "foundation";
@import "font-awesome";
html, body {
  min-height: 100%;
}
.footer {
  background: $primary-color;
  padding: 2rem;
  color: $white;
}
.reasons {
  background: $primary-color;
  color: $white;
  h2 {
    color: $white;
  }
  .columns {
    padding: 2em 1em;
  }
  padding: 1em;
  h1 {
    text-transform: uppercase;
    color: $white;
    text-shadow: 0 0 3px $black;
  }
  .large-2 h1 {
    padding: 10px;
    padding-top: 17px;
    text-align: center;
    background: $yellow;
    color: #fff;
    border-radius: 50px;
    width: 100px;
    height: 100px;
  }
}
.first {
  code {
    width: 250px;
    display: inline-block;
    color: $white;
    background: $black;
  }
  height: 500px;
  height: 80vh;
  position: relative;
  text-align: center;
  .row {
    z-index: 2;
    h1 {
      text-transform: uppercase;
      padding: 10px;
    }
  }
  .bg {
    top: 0;
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: .5;
  }
  .button {
    background: $black;
  }

}
.white {
  background: $white;
  text-align: center;
  i {
    font-size: 8em;
    color: $red;
  }
}
.is-front {
  .off-canvas-wrap {
    -webkit-backface-visibility: visible;
    * {
      -webkit-backface-visibility: visible;
    }
  }
  .row-wrapper {
    z-index: 1;
  }
}
.document-container {
  border: 1px solid lighten($primary-color, 60%);
  padding: 0 5px;
  .header {
    border-bottom: 1px solid lighten($primary-color, 60%);
    text-transform: uppercase;
    font-size: 1.2em;
    .status {
      float: right;
    }
  }
  .metadata {
    color: lighten($black, 50%);
    font-size: .8em;
  }
}
.docs {
  ul {
    li {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    margin: 1em 0;
  }
}
.main-section .stripe-button-el,
.main-section .stripe-button-el:focus {
  background: none;
  @include button-base;
  @include button-size;
  @include button-style;
  span,
  span:hover,
  span:focus,
  span:active {
    background: none;
    line-height: inherit;
    font: inherit;
    box-shadow: none;
    text-shadow: none;
  }
}
