<h1>About sheeet</h1>
<h3>Who made this?</h3>
<p>{{appName}} is made mainly by me (Eirik) to make it possible to store some time serie data in google sheets.</p>
<p>If you want to contact me, <a href="https://twitter.com/orkj">you can try me at twitter</a>.</p>
<h3>Will you steal my data or do Evil Things(tm)?</h3>
<p>No, of course not. Also, <a href="https://github.com/eiriksm/spreadsheet-queue">all the code is open source</a>, so you can actually see what the service does, and improve the service if you want.</p>
