<h1>Edit document</h1>
<form method="POST" action="/document/{{document.uuid}}">
  <label>Title
    <input placeholder="Title" name="title" type="text" value="{{document.title}}" />
  </label>
  <label>Google doc ID
    <input id="id" name="id" placeholder="Google doc id" type="text" value="{{document.id}}" />
  </label>
  <a href="/user" class="button alert">Back</a>
  <input class="button success" type="submit" value="Update" />
  <input type="hidden" name="crumb" value="{{crumb}}"/>
  <h3>Document status</h3>
  <label>
    Document status
    {{#if document.verified}}
      <p>Verified
        <i class="fa fa-check-circle" title="Source is working"></i>
      </p>
    {{else}}
      <p>
        Not verified
        <i class="fa fa-question-circle" title="Status of source is unknown"></i>
        <a href="/user/docs/{{document.uuid}}/test" class="button tiny rounded success">Test source</a>
      </p>
    {{/if}}
  </label>
  <label>
    Last updated
    {{#if document.updated}}
      <p>
        Last updated <span class="timestamp">{{document.updated}}</span>
      </p>
    {{else}}
      <p>
        No update information
      </p>
    {{/if}}
  </label>
  <h3>Usage</h3>
  <label>
    Document ID
    <p>
      {{document.uuid}}
    </p>
  </label>
  <label>
    x-sheeet header
    <p>{{header}}</p>
  </label>
  <label>
    Your user ID
    <p>{{user.profile.id}}</p>
  </label>
  <label>
    Document URL endpoint
    <p>{{url}}</p>
  </label>
  <label>
    CURL usage example
    <pre class="code">{{curlExample}}</pre>
  </label>
</form>
<h3 class="subheader">Danger zone</h3>
<p>If you want to delete this document, this is the place to click.</p>
<a href="/user/docs/{{document.uuid}}/delete" class="button alert">Delete document</a>
