<div class="first">
  <div class="bg"></div>
  <div class="row">
    <div class="medium-8 columns small-centered">
      <div class="header">
        <h1>{{appName}}</h1>
        <h3 class="subheader">Send data to your google spreadsheet.</h3>
      </div>
      <div class="row">
        <div class="large-12 columns">
          {{#if user}}
            <h4>Welcome back!</h4>
            <a href="/user" class="button radius dashboard">Go to my dashboard</a>
          {{else}}
          <p>Sign up for free!</p>
          <div class="row collapse">
            <div class="columns medium-12">
              <a href="login" class="signup button postfix success">Sign up with Google</a>
            </div>
            <div class="columns medium-12"><p>or</p></div>
            <div class="columns medium-12">
              <form method="POST" action="/user">
                <div class="row collapse">

                  <div class="columns medium-8">
                      <input type="hidden" name="crumb" value="{{crumb}}"/>
                      <input name="email" required type="email" placeholder="Register with your email address" />
                  </div>
                  <div class="columns medium-4">
                    <input class="button success postfix" type="submit" value="Register" />
                  </div>
                </div>
              </form>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reasons row-wrapper" id="more-info">
  <div class="row">
    <div class="medium-10 columns medium-centered">
      <h1>How does it work?</h1>
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 medium-centered columns">
      <h2>Create a document</h2>
      <p>Create a document in Google docs, and give the {{appName}} user access.</p>
      <img src="/public/img/share.gif" />
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 medium-centered columns">
      <h2>Start to send data to {{appName}}</h2>
      <p>Program your server or device to send data to {{appName}}.</p>
      <img src="/public/img/send.gif" />
    </div>
  </div>
  <div class="row">
    <div class="medium-10 small-12 medium-centered columns">
      <h2>Relax and enjoy</h2>
      <p>The data is starting to populate a spreadsheet, which means you can focus on creating fancy visualizations or just not worry about databases and backups.</p>
      <img src="/public/img/relax.gif" />
    </div>
  </div>
</div>
<div class="signup-row">
  <div class="row">
    <div class="column small-12 medium-10 medium-centered">
      <h1>Get started for free!</h1>
      {{#if user}}
      <div class="row">
        <div class="columns medium-8">
          <h4 class="subheader">You are already logged in</h4>
        </div>
        <div class="columns medium-4">
          <a href="/user" class="button radius dashboard">Go to my dashboard</a>
        </div>
      </div>
      {{else}}
      <div class="row collapse">
        <div class="columns medium-12">
          <form method="POST" action="/user">
            <div class="row collapse">

              <div class="columns medium-8">
                  <input type="hidden" name="crumb" value="{{crumb}}"/>
                  <input name="email" type="email" required placeholder="Register with your email address" />
              </div>
              <div class="columns medium-4">
                <input class="button success postfix" type="submit" value="Register" />
              </div>
            </div>
          </form>
        </div>
        <div class="columns medium-12">
          <form method="POST" action="/user">
            <div class="row collapse">

              <div class="columns medium-8">
                  <p>Or connect with your Google account</p>
              </div>
              <div class="columns medium-4">
                <a href="login" class="signup button postfix primary">Sign up with Google</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{/if}}
    </div>
  </div>
</div>
