{{#if payment.id}}
  <h1>Cancel subscription?</h1>
  You are on the pro plan
  <form action="/user/payment/cancel" method="POST">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <input type="submit" value="Cancel subscription" class="button alert">
  </form>
{{else}}
<h1>Upgrade to the PRO plan</h1>
<p>
  Upgrading your plan while {{appName}} is in beta will not give you other benefits than good karma.
</p>
  <form action="/user/payment" method="POST">
    <input type="hidden" name="crumb" value="{{crumb}}"/>
    <script
      src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="{{stripeKey}}"
      data-email="{{user.profile.email}}"
      data-name="{{appName}}"
      data-description="Pro plan ($2 per month)"
      data-label="Secure checkout"
      data-image="/public/icon.png">
    </script>
  </form>
{{/if}}
