<h1>Test source {{document.title}}</h1>
<form method="POST" action="/user/docs/{{document.uuid}}/test">
  <label>
    Document status
    {{#if document.verified}}
      <p>Verified
        <i class="fa fa-check-circle" title="Source is working"></i>
      </p>
    {{else}}
      <p>
        Not verified
        <i class="fa fa-question-circle" title="Status of source is unknown"></i>
      </p>
    {{/if}}
  </label>
  <label>
    Last updated
    {{#if document.updated}}
      <p>
        Last updated <span class="timestamp">{{document.updated}}</span>
      </p>
    {{else}}
      <p>
        No update information
      </p>
    {{/if}}
  </label>
  <label>
    Info
    <p>
      The test will try to post a row containing a timestamp and value. This requires your to have set up your spreadsheet with a column named time and a column named value.
    </p>
  </label>
  <a href="/user" class="button alert">Cancel</a>
  <input class="button success" type="submit" value="Test source" />
  <input type="hidden" name="crumb" value="{{crumb}}"/>
</form>
